<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>入学测试.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>编程题1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>编程题2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>编程题3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>编程题4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>编程题5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B14475ED1B0225B800309197</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B14475F81B02310F00309197</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B14476091B0261B400309197</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B14476171B02634F00309197</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B14476251B0285DF00309197</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1A614991B01C4CA00156FEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
